body {
      width: 70%;
      margin: auto;
}

header {
      background-color: rgb(64, 121, 205);
      background-image: url('../img/pattern.png');
}

#logo {
      width: 250px;
      margin: 100px 10px 20px;
}

h1 {
      font-size: 40px;
      margin-bottom: 0;
}

.grey-text {
      color: rgb(150, 150, 150);
      margin-bottom: 10px;
}

.writed-by {
      font-size: 18px;
}

.date {
      font-size: 12px;
}

#booleaners {
      color: aqua;
}

.image-description {
      font-size: 10px;
}

.yellow-background {
      background-color: yellow;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

th {
      background-color: rgb(0, 128, 255);
      color: white;
      text-align: left;
}

/* probabilmente non è la soluzione giusta ma funziona */
th:last-child {
      width: 50%;
}

tr:nth-child(even) {
      background-color: lightblue;
}

.monitor-image {
      background-image: url('../img/monitor.jpg');
}

.graph-image {
      background-image: url('../img/graph.jpg');
}

.monitor-image, .graph-image {
      width: 310px;
      height: 210px;
      background-size: contain;
      margin-bottom: 10px;
}

.lorem-image {
      color: white;
      padding-top: 10px;
      padding-left: 10px;
      font-weight: 800;
      font-size: 20px;
}

.bold-text {
      font-weight: 900;
}
